@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500&family=Poppins:wght@200;300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&family=Raleway:ital,wght@1,600&display=swap');

.App {
    text-align: center;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(250, 241, 224);
    /* background: url('https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm263-adj-25-e_2.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=25ef265f653e8c4585be13d4ba5882f5') center;
    background-size: cover; */
}

/* .App::before {
    background: url('https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm263-adj-25-e_2.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=25ef265f653e8c4585be13d4ba5882f5') center;
    background-size: cover;
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    opacity: 0.5;
    width: 1919px;
    z-index: -1;
} */

.form{
    margin: 150px auto;
    width: 800px;
    color: white;
}

.form-content{
    background-color: rgb(29 13 4 / 47%);
    border-radius: 25px;
    height: 500px;
    padding-top: 50px;
}

#form-input-field{
    margin: auto;
    width: 60%;
}


.Home {
    background-color: rgb(250, 241, 224);
    /* background: url('https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm263-adj-25-e_2.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=25ef265f653e8c4585be13d4ba5882f5') center;
    background-size: cover; */
    /* height: 100%; */
}