@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500&family=Poppins:wght@200;300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&family=Raleway:ital,wght@1,600&display=swap');

.App {
    text-align: center;
    height: 100%;
    width: 100vw;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(250, 241, 224);
}

.form{
    margin: 150px auto;
    width: 800px;
    color: white;
}

.form-content{
    background-color: rgb(29 13 4 / 47%);
    border-radius: 25px;
    height: 500px;
    padding-top: 50px;
}

#form-input-field{
    margin: auto;
    width: 60%;
}


.Home {
    background-color: rgb(250, 241, 224);
}