.App {
    text-align: center;
    background-color: rgb(250, 241, 224);
    height: 100%;
}

.form{
    /* height: 780px; */
    margin: 150px auto;
    width: 800px;
    /* padding-top: 90px; */
}

.form-content{
    background-color: rgb(250, 250, 249);
    height: 500px;
    padding-top: 50px;
}

#form-input-field{
    margin: auto;
    width: 60%;
}


.Home{
    background-color: rgb(250, 241, 224);
    /* height: 100%; */
}