.user-text{
    background-color: #80e0e096;
    border-radius: 10px;
    margin-bottom: 8px;
}

.bot-response{
    background-color: #b58e5e73;
    border-radius: 10px;
    margin-bottom: 8px;
}

#user-input, #bot-answer{
    padding: 0;
}

.chatbot{
    height: 100vh;
    overflow-y: scroll;
}

h4{
    font-family: 'Lobster', cursive;
    font-size: 40px;
}

h1{
    font-family: 'Josefin Sans', sans-serif;
}

.chatbot-instruction{
    background-color: #0e0b0b8c;
    width: 60%;
    padding: 10px;
    margin: auto;
    border-radius: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: pink;
}

.bot-instruction{
    font-weight: 400;
    font-size: 18px;
    text-align: left;
    margin-left: 87px;
}