.footer{
    display: inline;
    position: relative;
    height: 50px;
    width: 125rem;
    z-index: 1;
}

.footer::before{
    content: '';
    display: block;
    position: absolute;
    background: url(https://images.unsplash.com/photo-1505935428862-770b6f24f629?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1347&q=80) center;
    background-size: cover;
    opacity: 0.5;
    height: 50px;
    width: 100vw;
    z-index: 1;
}

.fb-logo, .ig-logo, .dev-logo, .git-logo, .linkedin-logo{
    cursor: pointer;
    height: 35px;
    opacity: 0.8;
}

.dev-logo{
    border-radius: 100%;
}

.nav-item {
    z-index: 1;
}