.ingr-card{
    display: inline-flex;
    flex-wrap: wrap;
    width: 1219px;
    margin-top: 150px;
    height: 100vh;
    margin-bottom: 150px;
    justify-content: center;
}

.individual-card{
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
}

#ingr-img-card{
    max-height: 286px;
    max-width: 200px;
    margin: auto;
    border-radius: 10px;
}

.more-btn{
    margin: 10px auto;
    height: 50px;
    width: 1180px;;
}
