@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500&display=swap');

.toggleBtn{
    display: inline-block;
}

.jumbotron-card{
    height: 450px;
    position: relative;
}


.jumbotron-holder{
    height: 450px;
    display: inline;
    position: relative;
    width: 100px;
}

.jumbotron-holder::before{
    content: '';
    display: block;
    position: absolute;
    width: 120rem;
    height: 450px;
    background:  url(../images/rachel-park-hrlvr2ZlUNk-unsplash.jpg);
    background-size: cover;
    opacity: 0.4;
}

.jumbotron{
    padding-top: 19rem;
    margin-bottom: 0;
    background-color: #e9ecef00;
}

.greeting{
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

.search-bar{
    padding-left: 200px;
    padding-right: 200px;
    margin-top: 20px;
}
