.carousel-img{
    margin: 2rem auto 2rem auto;
    cursor: pointer;
}

.carousel-bg{
    background-color: rgb(218 202 180);
    width: 850px;
    margin: auto;
}

.carousel-control-next, .carousel-control-prev {
    background-color: rgb(165 153 137);
}

.carousel-holder{
    margin-top: 30px;
}