@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css');

.recipe-card{
    margin-top: 20px;
}

#details-recipe{
    height: 100vh;
    margin: 60px;
}

.back-btn{
    float: left;
    margin: auto;
    border-radius: 100%;
    width: 50px;
    height: 50px;
}

.back-btn-holder{
    padding-left: 0;
}

.prepTime{
    margin: auto;
}

.title-row{
    margin: 10px;
    width: 750px;
}

.recipe-details{
    padding-bottom: 100px;
    padding-top: 100px;
    margin: 100px 240px;
    background-color: #ef9ead3d;
    border-radius: 40px;
}


/* love button */

.like-btn {
    height: 60px;
    width: 60px;
    font-size: 23px;
    border: none;
    border-radius: 100%;
}

.like-btn:hover, .like-btn:focus{
    background: maroon;
}