.carousel-img{
    margin: 2rem auto 2rem auto;
    cursor: pointer;
}

.carousel-bg{
    background-color: rgb(218 202 180);
    width: 850px;
    margin: 32px auto;
    border-radius: 15px;
}

.carousel-control-next, .carousel-control-prev {
    background-color: rgb(165 153 137);
    border-radius: 15px;
}

@media only screen and (max-width: 900px){
    .carousel-bg{
        width: 100vw;
    }
}
